

/* card */


.width-3-cards {
	max-width: 650px;
}

.width-4-cards {
	max-width: 880px;
}

.width-5-cards {
	max-width: 1080px;
}

.width-6-cards {
	max-width: 1300px;
}

.width-7-cards {
	max-width: 1517px;
}

.width-8-cards {
	max-width: 1731px;
}